@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .max-w-screen-2xl {
        max-width: 100%;
    }

    .fixed {
        position: fixed;
        bottom: 0;
    }
}